body{
    background: gainsboro;
}

header{
    text-align: center;
}

.banniere{
    width: 600px;
    margin-top: 30px;
}


h1{
    color: #EF233C;
    font-size: 2rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.panime{
    padding: 2%;
    text-align: justify;
}

h3{
    color: #2B2D42;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline dotted black 2px;
    padding: 2%;
}

.anime{
    padding-bottom: 1%;
}

section{
    text-align: center;
    margin: 3%;
    background: white;
}

footer{
    text-align: right;
}

ul{
    list-style-type: none;
}


.boxes{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.formulaire{
    padding: 5%;
}

.navfin{
    justify-content: center;
    margin-bottom: 3%;
}